<nav class="navbar container ps-3 pe-3 navbar-expand-lg navbar-light" style="background-color:rgb(233, 233, 233);">
    <div class="container-fluid p-1">
      <a class="navbar-brand text-uppercase" style="letter-spacing: 5px;" routerLink="/"><i class="fa-brands fa-nfc-directional pe-1 h2" style="color: rgb(255, 96, 44);"></i> Shop<span style="color: rgb(255, 96, 44);">hy</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex rounded  m-0 justify-content-start mb-2 me-2" style="width: 82%;">
            <input type="search" class="form-control  btn-outline-secondary p-3 " placeholder="Search for products and barands" style="background-color: rgba(197, 195, 195, 0.884);" />
            <button type="button"class="btn  btn-outline-dark bg-secondary" ><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item mb-2">
            <button class="btn border-dark text-dark p-3 me-2  ps-4 pe-4 rounded btn-outline-dark position-relative" title="Wishlist" routerLink="/wish"> 
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark" >
                  {{wishCount}}
              </span> 
              <i class="fa-solid fa-heart fa-lg btn-outline-dark" ></i>
          </button>

          </li>
          <li class="nav-item mb-2">
            <button class="btn border-dark text-dark p-3 me-2  ps-4 pe-4 rounded btn-outline-dark position-relative" routerLink="/cart"> 
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                 {{cartCount}}
              </span>
              <i class="fa-solid fa-bag-shopping fa-lg btn-outline-dark" ></i>
          </button>

          </li>
          <li class="nav-item mb-2 d-flex align-items-center">  
            <div class="dropdown ">
              <button class="btn me-1 p-3 ps-5 pe-5 rounded hover dropdown-toggle" type="button" id="dropdownMenuButton">
                <span *ngIf="username;else elsecase">
                  {{username}}
                </span>
                <ng-template #elsecase>
                  Login
                </ng-template>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <p class="m-2 p-3 ps-5 pe-5 rounded hover text-uppercase" style="cursor: pointer;" title="Login" routerLink="/log">
                  <span *ngIf="username;else elsecase">
                    {{username}}
                  </span>
                  <ng-template #elsecase>
                    Login
                  </ng-template>
                </p>
                <button class="btn m-2 p-3 ps-5 pe-5  rounded border-dark btn-outline-dark text-uppercase" title="LogOut" *ngIf="username">
                  LogOut
                </button>
             <!-- ---------------more item--------------- -->
              </div>
            </div>
          </li>
          
          
        </ul>
      </div>
    </div>
  </nav>
