<!-- Remove the container if you want to extend the Footer to full width. -->
<div>
  <footer
    class="text-center text-lg-start text-white"
    style="background-color:  rgb(32, 31, 31);"
  >
    <section
      class="d-flex justify-content-between p-4"
      style="background-color:  rgb(51, 50, 50);"
    >
      <div class="me-5 text-start">
        <span>Get connected with us on social networks:</span>
      </div>
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f" style="color: rgb(255, 96, 44)"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter" style="color: rgb(255, 96, 44)"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google" style="color: rgb(255, 96, 44)"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram" style="color: rgb(255, 96, 44)"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin" style="color: rgb(255, 96, 44)"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github" style="color: rgb(255, 96, 44)"></i>
        </a>
      </div>
    </section>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Shophy</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: rgb(255, 96, 44); height: 2px;"
            />
            <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti animi vitae quibusdam cumque hic. Totam voluptates tempora 
             doloremque eos consequuntur laborum minus esse dolore,
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Refereces</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color:rgb(255, 96, 44); height: 2px"
            />
            <p>
              <a href="#!" class="text-white">Bootstrap</a>
            </p>
            <p>
              <a href="#!" class="text-white">Google Fonts</a>
            </p>
            <p>
              <a href="#!" class="text-white">Fotawsome</a>
            </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color:rgb(255, 96, 44); height: 2px"
            />
            <p>
              <a routerLink="/log" class="text-white">Login</a>
            </p>
            <p>
              <a routerLink="reg" class="text-white">Registration</a>
            </p>
            <p>
              <a routerLink="/cart" class="text-white">Cart</a>
            </p>
            <p>
              <a routerLink="/wish" class="text-white">Wishlist</a>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase fw-bold">Contact us</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color:rgb(255, 96, 44); height: 2px"
            />

            <div class="form-outline mb-4">
              <input
                type="email"
                id="form5Example2"
                placeholder="Email adderss"
                class="form-control p-3"
              />
            </div>

            <button
              type="submit"
              class="btn border-light btn-dark w-100 ms-auto btn-outline-light btn-block p-3 text-uppercase"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </section>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024 Copyright:
      <a class="text-white">Shophy</a>
    </div>
  </footer>
</div>
