<section class="h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col" >
          <!-- <p><span class="h2">Wishlist </span><span class="h4">(1 item in your wishlist)</span></p> -->
  
          <div class="card mb-4 border-0" style="background-color: rgba(252, 252, 252, 0.274);">
            <div class="card-body p-4">
  
              <div class="row align-items-center">
                <div class="col-md-1 d-flex justify-content-center">
                    <div>
                      <!-- <p class="small text-muted mb-4 pb-2">Name</p> -->
                      <p class="lead fw-normal mb-0"><i class="fa-solid fa-xmark" style="color: #000000;"></i></p>
                    </div>
                  </div>
                <div class="col-md-2">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/1.webp"
                   style="mix-blend-mode: multiply; aspect-ratio: 2/1;"  class="img-fluid" alt="Generic placeholder image">
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <!-- <p class="small text-muted mb-4 pb-2">Name</p> -->
                    <p class="lead fw-normal mb-0">iPad Air</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <!-- <p class="small text-muted mb-4 pb-2">Quantity</p> -->
                    <p class="lead fw-normal mb-0">1</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <!-- <p class="small text-muted mb-4 pb-2">Price</p> -->
                    <p class="lead fw-normal mb-0">$799</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <!-- <p class="small text-muted mb-4 pb-2">Add to cart</p> -->
                    <p class="lead fw-normal mb-0"><button class="btn btn-outline-dark text-uppercase" style="padding: 9px 20px;border: 1px solid #0000001e;font-size: 12px;">Add to cart</button></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </section>