<app-header></app-header>

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6 text-center" style="padding: 120px;background-color: rgb(212, 213, 214); "><img class="card-img-top mb-5 mb-md-0 w-75 hover_image" style="mix-blend-mode: multiply;" src={{product.image}} alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">ID:{{product.id}}</div>
                <p class="fw-bolder display-6 text-uppercase">{{product.title}}</p>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through pe-2">{{product.price | currency:'INR'}}</span>
                    <span>{{product.price | currency:'INR'}}</span>
                </div>
                <p class="lead pt-5">{{product.description}}</p>
                <div class="btn-group mt-3" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-dark ps-5 pe-5 p-3">Wishlist</button>
                    <button type="button" class="btn hover ps-5 pe-5 p-3">add to cart</button>
                  </div>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
