<app-header></app-header>

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6 text-center" style="padding: 120px;background-color: rgb(212, 213, 214); "><img class="card-img-top mb-5 mb-md-0 w-75 hover_image" style="mix-blend-mode: multiply;" src={{product.image}} alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">ID:{{product.id}}</div>
                <p class="fw-bolder display-6 text-uppercase">{{product.title}}</p>
                <h4>Product details</h4>
                <hr class="mt-0" style="width: 20%;">
                <p class="h6">{{product.category}}</p>
                <p>Rating: <span class="text-light bg-success rounded ps-2 pt-1 pe-2 pb-1">{{product.rating.rate}}</span></p>
                <div class="fs-5 mb-4">
                    <span class="text-decoration-line-through pe-2 text-danger">{{product.price | currency:'INR'}}</span>
                    <span class="h2">{{product.price | currency:'INR'}}</span>
                </div>
                <h4>About this item</h4>
                <hr  class="mt-0" style="width: 20%;">
                <p class="lead">{{product.description}}</p>
                <div class="btn-group mt-3" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-dark ps-5 pe-5 p-3" (click)="addWish(product)" >Wishlist</button>
                    <button type="button" class="btn hover ps-5 pe-5 p-3" (click)="addCart(product)" >add to cart</button>
                  </div>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
